


<div style="float:left;margin-right:10px;width:20%;">
	<%= image_tag(@movie.poster) %>
</div>
<div style="float:left;width:75%">
	<h1><%= @movie.title %></h1>
	<p><%= @movie.synopsis %></p>
	<em>Tomatometer:</em> <h1><%= @movie.critics_rating %>%</h1>
</div>
<div style="clear:both;padding-top:25px">
<%= link_to "Back to movies...", movies_path %>
</div>

<h3>
Comments
<% @comments.each do |comment| &>
  <p>
    <%= comment.body -%>
  </p>
<% end -%>